@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
}

.board {
    width: 100%;
    padding: 0 30px 30px;
    max-width: 1200px;
    margin: 50px auto;
    background: #ffeaa7;
    border: 2px solid #fdcb6e;
    border-radius: 10px;
}

.btn {
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.btn--rename {
    background: #74b9ff;
}

.btn--delete {
    background: #ff7675;
}

.btn--create {
    background: #00b894;
}

.notification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}

.notification {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
   
    text-align: center;
    font-size: 24px;
}

.notification--delete {
    color: #ff7675;
}

.notification--create {
    color: #00b894;
}

.notification--rename {
    color: #74b9ff;
}

.hidden {
    display: none;
}

.create-column {
    margin-left: 10px;
}

.kanban-header {
    text-align: center;
}

.column-container {
    display: flex;
    justify-content: center;
    &>div {
        width: 100%;
    }
    .column {
        padding: 0 10px;
        .column-title {
            border-bottom: 2px solid #e17055;
        }
        .column-card-list {
            min-height: 100px;
            list-style: none;
            padding: 0;
        }
    }
}

.card {
    border: 2px solid #e17055;
    border-radius: 5px;
    background: #fdcb6e;
    margin-bottom: 5px;
    padding: 0 10px;
}